.env
.env.local
configs/config.yaml
*.log
server.log
server.err
bin/
dist/
vendor/
data/files/
*.exe
*.dll
*.test
*.out
.idea/
.vscode/
coverage.html
coverage.out

# Console
console/node_modules/
console/dist/

# SDK
sdk/typescript/node_modules/
sdk/typescript/dist/
sdk/demo/node_modules/
sdk/demo/dist/
*.tsbuildinfo
